.main {
    flex: 1;
}
  
.bg-dark {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #12002b;
    width: 100%;
    height: 85vh;
}

  
  
.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    h1{
        margin: 1.25rem 0;
        font-size:1.5rem ;
        font-weight: bold;
    }

}
  
.sign-in-icon {
    font-size: 1rem;
}
  
.input-remember {
    display: flex;
}
  
.input-remember label {
    margin-left: 0.25rem;
}
  
.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}
  
.input-wrapper label {
    font-weight: bold;
}
  
.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid light-darkrgb(118, 118, 118);
}