.main-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    .main-nav-logo {
      display: flex;
      align-items: center;
      .main-nav-logo-image {
        max-width: 100%;
        width: 200px;
      }
      
    }
    div{
      display: flex;
      flex-direction: row;
      gap:0.313rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      a{
        display: flex;
        font-weight: bold;
        color: #2c3e50;
        flex-direction: row;
        margin-right:0.5rem ;
    
      }
      .main-nav-item{
       display: flex;
       gap: 0.375rem;
       align-items: center;
       text-decoration: none;
       margin-right: 0.5rem;
       &:hover{
        text-decoration: underline;
       }
      }
      .fa-solid{
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
      }
      .fa{
        font-size: 1rem;
        width: 1rem;
        height: 1rem
      }
    }
  }
  

  .main-nav a.router-link-exact-active {
    color: #42b983;
  }
  

  

  
